# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

# Starter pipeline
- task: TerraformCLI@0
  inputs:
    command: 'init'
    allowTelemetryCollection: true
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

- task: TerraformCLI@0
  inputs:
    command: 'plan'
    environmentServiceName: 'ejadademo – MPN (9707751e-bb10-42ab-a3b2-cd05593218ae)'
    providerAzureRmSubscriptionId: '9707751e-bb10-42ab-a3b2-cd05593218ae'
    allowTelemetryCollection: true

- task: TerraformCLI@0
  inputs:
    command: 'apply'
    environmentServiceName: 'ejadademo – MPN (9707751e-bb10-42ab-a3b2-cd05593218ae)'
    providerAzureRmSubscriptionId: '9707751e-bb10-42ab-a3b2-cd05593218ae'
    allowTelemetryCollection: true